* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #FEFEFE;
}

header {
  background-color: #14151A;
}

hr {
  border-top: 1px solid #E51515;
  border-bottom: 1px solid #E51515;
}

.container {
  width: 86%;
  margin: auto;
}

.head {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  color: #E51515;
  font-size: 3rem;
  text-decoration: none;
}

.fa {
  color: #FEFEFE;
  margin: auto 10px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.fa:hover {
  color: #E51515;
}

.head-but {
  position: relative;
  float: left;
  margin: auto 15px;
  background-color: #E51515;
  height: 50px;
  width: 120px;
  text-align: center;
  padding-top: 16px;
  border-radius: 5px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.head-but:hover {
  opacity: 0.8;
  cursor: pointer;
}

.head-but a {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #FEFEFE;
}

.nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 100%;
}

.nav-but {
  height: 100%;
  width: 127px;
  text-align: center;
  -webkit-transition: 0.8s linear;
  transition: 0.8s linear;
  position: relative;
}

.nav-but:hover {
  background-color: #E51515;
}

.drop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 127px;
  position: absolute;
  z-index: 2;
  top: 50px;
  height: 120px;
  background-color: #14151A;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.drop-menu .drop {
  width: 100%;
  height: 90%;
  -webkit-transition: 0.8s linear;
  transition: 0.8s linear;
}

.drop-menu .drop:hover {
  background-color: #E51515;
}

#game-drop:hover .drop-menu {
  opacity: 1;
  visibility: visible;
}

.nav-but a {
  text-decoration: none;
  color: #FEFEFE;
  font-size: 13px;
  margin: auto 13px;
  position: relative;
  top: 13px;
}

.search {
  height: 24px;
  width: 170px;
  position: relative;
}

.search input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #9f9f9f;
  color: #FEFEFE;
  border-radius: 5px;
  border-bottom: 1px solid #E51515;
}

.label1 {
  position: absolute;
  left: 0px;
  top: 2px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.search input:focus + .label1,
.search input:valid + .label1 {
  -webkit-transform: translateX(390%);
          transform: translateX(390%);
}

.main-slider .alan {
  position: relative;
}

.main-slider .alan img {
  width: 100%;
  height: 700px;
}

.main-slider .alan .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
}

.main-slider .alan .overlay .content {
  position: relative;
  width: 86%;
  height: 500px;
  top: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fefefe;
}

.main-slider .alan .overlay .content h1 {
  margin: 50px auto;
  padding-left: 15px;
}

.main-slider .alan .overlay .content p {
  padding: 0px 10px;
}

.main-slider .alan .overlay .content #hr-top {
  border: 1px solid red;
}

.main-slider .alan .overlay .content #hr-bottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  border: 1px solid red;
}
/*# sourceMappingURL=styles.css.map */