* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #FEFEFE;
}

header {
  background-color: #14151A;
}

hr {
  border-top: 1px solid #E51515;
  border-bottom: 1px solid #E51515;
}

.container {
  width: 86%;
  margin: auto;
  max-width: 1170px;
}

.head {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  color: #E51515;
  font-size: 3rem;
  text-decoration: none;
}

.fa {
  color: #FEFEFE;
  margin: auto 10px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.fa:hover {
  color: #E51515;
}

.head-but {
  position: relative;
  float: left;
  margin: auto 15px;
  background-color: #E51515;
  height: 50px;
  width: 120px;
  text-align: center;
  padding-top: 16px;
  border-radius: 5px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.head-but:hover {
  opacity: 0.8;
  cursor: pointer;
}

.head-but a {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #FEFEFE;
}

.nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 100%;
}

.nav-but {
  height: 100%;
  width: 127px;
  text-align: center;
  -webkit-transition: 0.8s linear;
  transition: 0.8s linear;
}

.nav-but:hover {
  background-color: #E51515;
}

.nav-but a {
  text-decoration: none;
  color: #FEFEFE;
  font-size: 13px;
  margin: auto 13px;
  position: relative;
  top: 13px;
}

.search {
  height: 24px;
  width: 170px;
  position: relative;
}

.search input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #9f9f9f;
  color: #FEFEFE;
  border-radius: 5px;
  border-bottom: 1px solid #E51515;
}

.label1 {
  position: absolute;
  left: 0px;
  top: 2px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.search input:focus + .label1,
.search input:valid + .label1 {
  -webkit-transform: translateX(390%);
          transform: translateX(390%);
}

.kayar {
  width: 100%;
  height: 650px;
  position: relative;
}

.menu-num {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 14em;
}

#hr-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.menu-num a {
  text-decoration: none;
  color: #E51515;
  margin: auto 6px;
  font-size: 17px;
  padding: 4px 4px;
  border-radius: 15px;
  background-color: #14151A;
}

.kayar1 {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/img/nassim-all-ot-HSrLNTP0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kayar2 {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/img/pawel-kadysz-CuFYW1c97w8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kayar3 {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/img/fredrick-tendong-6ou8gWpS9ns-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kayar-content {
  position: relative;
  top: 100px;
  color: #FEFEFE;
  width: 89%;
  height: 500px;
  background-color: rgba(21, 20, 20, 0.2);
}

.kayar-content h1 {
  margin-top: 90px;
  margin-left: 30px;
}

.kayar-content p {
  margin-top: 50px;
  margin-left: 30px;
  width: 84%;
}

.pin1 {
  z-index: 1;
}
/*# sourceMappingURL=styles.css.map */