$primary-color: #14151A;
$secondary-color: #E51515;
$date-color: #FFB320;
$comment-color: #08ABBD;
$gray-color:#9f9f9f;
$light-color:#FEFEFE;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    background-color: $light-color;
}
header{
    background-color: $primary-color;
    
    
    
}
hr{
    border-top:1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
}
.container{
    width: 86%;
    margin:auto;
    
}
.head{
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo a{
    color: $secondary-color;
    font-size: 3rem;
    text-decoration: none;
}
.fa{
    color: $light-color;
    margin: auto 10px;
    transition: 0.5s linear;
}

.fa:hover{
    color: $secondary-color;
    }


.head-but{
    position: relative;
    float: left;
    margin: auto 15px;
    background-color:$secondary-color;
    height: 50px;
    width: 120px;
    text-align: center;
    padding-top: 16px;
    border-radius: 5px;
    transition: 0.8s ease;
}
.head-but:hover{
    opacity: 0.8;;
    cursor: pointer;
}

.head-but a{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $light-color;
    padding-top:1em;
}
.nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
}
.nav-but{
    height: 100%;
    width: 127px;
    text-align: center;
    transition: 0.8s linear;
    position: relative;
   
}
.nav-but:hover{
    background-color:$secondary-color;
    cursor: pointer;
}

// DROPDOWN MENU
    .drop-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        width: 127px;
        position: absolute;
        z-index: 2;
        top: 50px;
        height: 120px;
        background-color: $primary-color;
        opacity: 0;
        visibility: hidden;
        transition: .5s ease-in-out;
            .drop{
                width: 100%;
                height: 90%;
                transition: 0.8s linear;

                
                &:hover{
                    background-color: $secondary-color;
                    
                }
            }

    }
    #game-drop:hover .drop-menu{
        opacity: 1;
        visibility: visible;
    }





// DROPDOWN MENU
.nav-but a{
   
    text-decoration: none;
    color: $light-color;
    font-size: 13px;
    margin:auto 13px;
    position: relative;
    top: 13px;

}
.search{
    height: 24px;
    width: 170px;
    position: relative;
    
}
.search input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: $gray-color;
    color: $light-color;
    border-radius: 5px;
    border-bottom: 1px solid $secondary-color;
}
.label1{
    
    position: absolute;
    left: 0px;
    top: 2px;
    transition: 1s ease;
}
.search input:focus +.label1,
.search input:valid +.label1{
    transform: translateX(390%);
}

//-----------------------------OWL CAROUSEL---------------------------------
.main-slider{
    .alan{
        position: relative;
        
        img{
            width: 100%;
            height: 700px;
        }
        
        .overlay{
            position: absolute;
            top: 0px;
            left: 0px;
            .content{
                position: relative;
                width: 86%;
                height: 500px;
                top:120px;
                background-color: rgba($color: #000000, $alpha: 0.4);
                color: #fefefe;
                
                h1{
                    margin: 50px auto;
                   padding-left: 15px;
                }
                p{
                    padding: 0px 10px;

                }
               #hr-top{
                   border: 1px solid red;
               }  
                #hr-bottom{
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    border: 1px solid red;
                }

            }
            
        }

    }
}



//-----------------------------OWL CAROUSEL---------------------------------
// -----------------------------LOGİN PAGE---------------------------------

.login-page{    //background - login page
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba($color: #0f0f0f, $alpha: 0.7);
    z-index: 1;
    left: 0;
    top:0;
    display: none;
    .login-content{
        
        position: relative;
        width: 26%;
        height: 480px;
        top:200px;
        left: 37%;
        background-color: $primary-color;
        border-radius: 0.5em;
        .icon-x{
            position: absolute;
            right: 2%;
            top: 2%;
        }
        .userpng{
            position: absolute;
            top:3em;
            left:39%;
        }
        .forms{
            position: absolute;
            top: 11em;
            left: 20%;
            width: 60%;
            
            form{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height:10em;
                input{
                    height: 2.5em; 
                    background-color: $light-color;  
                }
            }
        }
        .head-but{
            top:1em;
             left: 50%;
        }
        
    }
}







// -----------------------------LOGİN PAGE---------------------------------